type project
id Aardvark.Base.IO
authors VRVis Research Center
description
    Serialization with versioning.
files
    ..\..\bin\Release\Aardvark.Base.IO.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Base.IO.pdb ==> lib\net45