**/.DS_Store
/.paket/paket.exe
/src/Aardvark.Base/obj
/src/*.suo
/src/*.userprefs
/bin/net40
/bin/net45
/packages/*
!/packages/*.config
*.nupkg
obj
/src/Aardvark.sln.ide
*.swp
bin
*.*~
/buildLog.log
/src/.vs
tmp
/docs
/src/Aardvark.Base/Images/TensorExtensions_generator.cs
/src/Demo/Sketch/.vs/Sketch/v14/*.suo
/TestResult.xml
/.fake
/paket-files
/tests.out
/*.log
/src/Aardvark.Base/Tensors/TensorMathExt_generator.cs
**/*.csproj.user
**/*_generator.cs
/.paket
*.fsproj.user
Aardvark.log
/build.fsx.lock
.ionide
/.vs
.idea
.boss/
src/Aardvark.sln.DotSettings.user
