framework: netstandard2.0, net472, net8.0, net8.0-windows
storage: none
source https://api.nuget.org/v3/index.json

nuget Aardvark.Build               ~> 1.0.22

nuget FSharp.Core                  >= 8.0.0 lowest_matching: true
nuget System.Collections.Immutable >= 8.0.0 lowest_matching: true
nuget System.Reflection.Metadata   >= 8.0.0 lowest_matching: true
nuget System.Drawing.Common        >= 8.0.0 lowest_matching: true
nuget System.Text.Json             >= 8.0.0 lowest_matching: true

nuget System.Dynamic.Runtime       ~> 4.3.0

nuget Aardvark.Base.TypeProviders  ~> 4.5.15

nuget DevILSharp                   ~> 0.2.20
nuget SixLabors.ImageSharp         ~> 2.1.7

nuget FSharp.Data.Adaptive         ~> 1.2.0
nuget CSharp.Data.Adaptive         ~> 1.2.0
nuget Unofficial.LibTessDotNet     ~> 2.0.2

nuget FsPickler                    ~> 5.3.2
nuget FsPickler.Json               ~> 5.3.2

group CodeGenerator
    framework net8.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Microsoft.NETFramework.ReferenceAssemblies  = 1.0.0
    nuget Microsoft.CodeAnalysis.CSharp              ~> 4.1.0

group Demo
    framework net8.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget System.Reactive          ~> 6.0.0
    nuget CSharp.Data.Adaptive     ~> 1.2.0

group Test
    framework: net8.0, net8.0-windows
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget NUnit                    ~> 3.13.3
    nuget FsUnit                   ~> 5.4.0
    nuget FsCheck                  ~> 2.16.4
    nuget FsCheck.NUnit            ~> 2.16.4
    nuget NUnit3TestAdapter        ~> 4.5.0
    nuget Microsoft.NET.Test.Sdk   ~> 17.7.2
    nuget Expecto                  ~> 10.1.0
    nuget Expecto.FsCheck          ~> 10.1.0
    nuget YoloDev.Expecto.TestSdk  ~> 0.14.2

    nuget BenchmarkDotNet          ~> 0.13.9