type project
id Aardvark.Base.Runtime
authors VRVis Research Center
description
    Aardvark.Base.Runtime provides a runtime utilities based Aardvark.Base.FSharp and Aardvark.Base.Incremental
files
    ..\..\bin\Release\Aardvark.Base.Runtime.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Base.Runtime.pdb ==> lib\net45