<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="FSharp.Compiler.Service" version="0.0.58" targetFramework="net45" />
    <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
    <package id="NUnit" version="2.6.3" targetFramework="net45" />     
    <package id="RegexProvider" version="0.0.2" targetFramework="net45" />
</packages>
