type project
id Aardvark.Data.Vrml97
authors VRVis Research Center
description
    Aardvark.Data.Vrml97 provides a purely managed Vrml97 parser.
files
    ..\..\bin\Release\Aardvark.Data.Vrml97.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Data.Vrml97.pdb ==> lib\net45
    ..\..\bin\Release\Aardvark.Data.Vrml97.xml ==> lib\net45