name: Linux

on: 
  push:
    paths-ignore:
    - 'README.md'
    - 'docs/'
  pull_request:
    paths-ignore:
    - 'README.md'
    - 'docs/'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Copy global.json
      run: cp ./.github/global.json .
    - name: Install Dotnet
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json
    - name: Build
      run: sh ./build.sh
