name: MacOS

on: 
  push:
    paths-ignore:
    - 'README.md'
    - 'docs/'
  pull_request:
    paths-ignore:
    - 'README.md'
    - 'docs/'
    
jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Dotnet
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json
    - name: Build
      run: bash ./build.sh
